body {
    width: 100%;
    margin: 0;
    font-family: 'Century Gothic', sans-serif;
}

.navBar-container {
    position: fixed;
    background-color: #292929;
    height: 70px;
    font-size: 18px;    
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    width: 100%;
    text-decoration: none;
    font-family: 'Century Gothic', sans-serif;
    top: 0;
    z-index: 10;
}

.navBarLogo {
    width: 40%;
    margin: auto;
    display: flex;
    justify-content: center;
}

.navBarAction {
    width: 20%;
    display: flex;
    justify-content: space-around;
}

.navBarAction2 {
    width: 40%;
    display: flex;
    justify-content: space-around;
}

.navBarAction2 a {
    margin: auto;
    color: white;
}


.navBarAction a {
    margin: auto;
    color: white;
}

.navBarAction a:hover{
    color:yellow;
    text-decoration: none;
    transition-duration: 500ms; 
}

.navBarAction2 a:hover{
    color:yellow;
    text-decoration: none;
    transition-duration: 500ms; 
}

.product {
    animation-delay: 0.4s;
}

.news {
    animation-delay: 0.6s;
}

.login {
    animation-delay: 0.8s;
}

.cart {
    animation-delay: 1s;
}

.search {
    animation-delay: 1.2s;
}

.product-banner {
    width: 100%;
    height: 650px;
    background-image: url('https://www.duckychannel.com.tw/upload/2019_06_032/201906031855055he29rrsb1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 70px;
}

#delay15 {
    animation-delay: 1.5s;
}

#delay17 {
    animation-delay: 2s;
}

.product-heading {
    font-family: 'Century Gothic', sans-serif;
    font-weight: 300;
    position: absolute;
    top: 33%;
    left: 200px;
    color: white;
}

.product-block {
    margin-top: 200px;
}

.block-header {
    font-family: 'Century Gothic', sans-serif;
    text-align: center;
    color: white;
    padding-bottom: 50px;
}

.product-container {
    margin: 50px 177px 100px 177px;
}

.container-block {
    display: flex;
}

.big-container {
    width: 1042px;
    height: 900px;
    background-color: #171717;
    color: white;
    border: 1px solid #292929;
    font-family: 'Century Gothic', sans-serif;
    position: relative;
}

.small-container {
    width: 520px;
    height: 450px;
    background-color: #171717;
    color: white;
    border: 1px solid #292929;
    font-family: 'Century Gothic', sans-serif;
    position: relative;
}

.container-header {
    height: 25%;
    width: 100%;
    position: relative;
}

.product-description {
    height: 60px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: gray;
    color: black;
    font-size: 20px;
}

.product-description p {
    padding: 15px;
}

.container-img {
    height: 50%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container-footer {
    height: 25%;
    width: 100%;
    font-family: 'Century Gothic', sans-serif;
    text-align: center;
    color: white;
    font-size: 25px;
}

.product-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.7);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.5s;
}

.product-overlay:hover {
    opacity: 1;
}

.site-footer
{
    margin-top: 100px;
  background-color:#292929;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:yellow;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color: yellow;
  transition: 0.5s;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}